<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mybalance</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.tl.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.tl.web.servlet.Controller</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.tl.web.servlet.Register</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tl.web.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BalanceSheet</servlet-name>
    <servlet-class>com.tl.web.servlet.BalanceSheet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRecord</servlet-name>
    <servlet-class>com.tl.web.servlet.AddRecord</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAllSelected</servlet-name>
    <servlet-class>com.tl.web.servlet.DeleteAllSelected</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindRecord</servlet-name>
    <servlet-class>com.tl.web.servlet.FindRecord</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoadDataForKchart</servlet-name>
    <servlet-class>com.tl.web.servlet.LoadDataForKchart</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/servlet/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BalanceSheet</servlet-name>
    <url-pattern>/servlet/BalanceSheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRecord</servlet-name>
    <url-pattern>/servlet/AddRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAllSelected</servlet-name>
    <url-pattern>/servlet/DeleteAllSelected</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindRecord</servlet-name>
    <url-pattern>/servlet/FindRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadDataForKchart</servlet-name>
    <url-pattern>/servlet/LoadDataForKchart</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>